<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 description">

            <br/><br/><br/>

            <img src="img/aboutus.jpg" class="img-responsive center-block"/>

            <br/>

            <h2>Místní Borci</h2>
            <p>Jsme neurčitá skupina nemístně místních lidí dělajcích si kulturu tak nějak po svým s jasným cílem a záměrem pořádat koncerty co nás baví a vás bude.</p>

            <h2>Kontakt</h2>
            <p>
                mistniborci.h@gmail.com<br/>
                <a href="https://www.facebook.com/MistniBorci" target="_blank">https://www.facebook.com/MistniBorci</a><br/>
                <a href="https://twitter.com/mistniborci" target="_blank">https://twitter.com/mistniborci</a>
            </p>

            <h2>DIY koncerty v Plzni</h2>
            <p>
                Pokud hrajete něco jako:<br/><br/>
                alternative, underground, experimental, indie, posteverything, math, rock, hc, psychedelic, everythingcore, rap, punk, noise, ambient, folk, metal, shoegaze, emo, electronic, stoner, kraut rock, screamo a nebo prostě něco jinak "divnýho",<br/><br/>
                tak napište zprávu, pokud chcete koncert v Plzni.
            </p>

            <h2>DIY shows in Pilsen</h2>
            <p>
                If your band is like:<br/><br/>
                alternative, underground, experimental, indie, posteverything, math, rock, hc, psychedelic, everythingcore, rap, punk, noise, ambient, folk, metal, shoegaze, emo, electronic, stoner, kraut rock, screamo or many more crazy genres and subgenres,<br/><br/>
                just send a message if you want show in Pilsen.
            </p>

        </div>
    </div>
</div>
